###*********************************************************************************************************************
### SIMULATION DOMAIN
#if defined(IS_2D)
geometry.prob_lo            = LO_X_M  LO_Y_M      # lo corner coordinates
geometry.prob_hi            = HI_X_M  HI_Y_M      # hi corner coordinates
geometry.is_periodic        =  0          0             # periodicity x y z (0/1)
rincflo.height              =  LZ_M                 # nominal height (third dimension) of a 2D simulation
#elif defined(IS_3D)
geometry.prob_lo            = LO_X_M  LO_Y_M  LO_Z_M     # lo corner coordinates
geometry.prob_hi            = HI_X_M  HI_Y_M  HI_Z_M     # hi corner coordinates
geometry.is_periodic        = 0         0         0            # periodicity x y z (0/1)
#endif

