###*********************************************************************************************************************
### BOUNDARY AND INITIAL CONDITIONS
#if defined(IS_MASS_INFLOW)
xlo.type                    = "mi"                      # mass inflow
#if defined(IS_2D)
xlo.velocity                = UX0 0.0             # in meters/sec
#elif defined(IS_3D)
xlo.velocity                = UX0 0.0 0.0         # in meters/sec
#endif
#elif defined(IS_PRESSURE_INFLOW)
xlo.type                    = "pi"                      # pressure inflow
xlo.pressure                = PRESSURE_INLET                # pressure at inlet (Pascals)
#endif
#if defined(IS_FLOW)
# concentration at inlet      AQDS                      H2-AQDS
xlo.conc                    = C_A       C_B
#elif defined(IS_NERNST_OR_SPECIAL)
# concentration at inlet      AQDS                      H2-AQDS
xlo.conc                    = C_A       C_B
#elif defined(IS_BV)
# concentration at inlet      AQDS                      H2-AQDS
xlo.conc                    = C_A       C_B       C_H2SO4
#endif
xhi.type                    = "po"                      # pressure outflow
xhi.pressure                =  0.0                      # zero pressure at outlet
ylo.type                    = "nsw"                     # no-slip wall
yhi.type                    = "nsw"                     # no-slip wall
#ifdef IS_3D
zlo.type                    = "nsw"                     # no-slip wall
zhi.type                    = "nsw"                     # no-slip wall
#endif
rincflo.probtype            = 0                         # Default flow initialization
#if defined(IS_MASS_INFLOW)
rincflo.ic_u                = UX0                  # should match xlo.velocity[0]
rincflo.ic_v                = 0.0                       # should match xlo.velocity[1]
#ifdef IS_3D
rincflo.ic_w                = 0.0                       # should match xlo.velocity[2]
#endif
rincflo.ic_p                = 0.0                       # should match xhi.pressure
#endif
#if defined(IS_FLOW)
rincflo.ic_t                = C_A       C_B
#elif defined(IS_NERNST_OR_SPECIAL)
rincflo.ic_t                = C_A       C_B
#elif defined(IS_BV)
# should match xlo.conc
rincflo.ic_t                = C_A       C_B       C_H2SO4
#endif

