###*********************************************************************************************************************
### GRID
#if defined(IS_2D)
amr.n_cell                  = GRID_X GRID_Y
#elif defined(IS_3D)
amr.n_cell                  = GRID_X GRID_Y GRID_Z
#endif
amr.max_level               = MAX_GRID_LEVEL               
amr.n_error_buf             = AMR_N_ERROR_BUF                         # default is 1, buffer cells around tagged one
amr.blocking_factor         = AMR_BLOCK_FACTOR                        # default is 8, (per level)
amr.grid_eff                = AMR_GRID_EFFICIENCY                       # default 0.7 recommended by Amrex
#if defined(IS_2D)
amr.max_grid_size_x         = MAX_GRID_SIZE                       # default 128 in 2D
amr.max_grid_size_y         = MAX_GRID_SIZE                       # default 128 in 2D
#elif defined(IS_3D)
amr.max_grid_size_x         = MAX_GRID_SIZE                       # default 32 in 3D
amr.max_grid_size_y         = MAX_GRID_SIZE                       # default 32 in 3D
amr.max_grid_size_z         = MAX_GRID_SIZE                       # default 32 in 3D
#endif
amr.ngrow                   = AMR_NGROW                         # default 4
amr.build_coarse_level_by_coarsening = AMR_BUILD_COARSE_BY_COARSENING

