###*********************************************************************************************************************
### GEOMETRY
rincflo.geometry                    = "lattice"
geo_eb.inputfilename                = "EB2_GEO_FILENAME"
geo_eb.required_coarsening_level    = EB2_GEO_REQUIRED_COARSENING                                 # required coarsening level for MLMG
geo_eb.max_coarsening_level         = EB2_GEO_MAX_COARSENING                                 # max coarsening level for MLMG
eb2.cover_multiple_cuts             = EB2_GEO_COVER_MULTIPLE_CUTS                                 # are multiply cut cells treated as solid?
eb2.small_volfrac                   = EB2_SMALL_VOLFRAC                         # when vol_frac < threshold, treat as solid
eb2.max_grid_size                   = MAX_GRID_SIZE

