###*********************************************************************************************************************
### FLUID
rincflo.fluid_model         = "newtonian"               # fluid model (rheology)
rincflo.mu                  = MU                 # dynamic (or absolute) viscosity coefficient
rincflo.ro_0                = RHO                  # reference density
#if defined(IS_2D) 
rincflo.gravity             = 0.0 0.0                   # gravitational force
#elif defined(IS_3D)
rincflo.gravity             = 0.0 0.0 0.0               # gravitational force
#endif

