###*********************************************************************************************************************
### SPECIES ###
#if defined(IS_FLOW)
rincflo.nspec               = 2                         # 2 species: A=AQDS, B=H2-AQDS
rincflo.D_s                 = D_AQDS  D_AQDS           # diffusivity of each species
rincflo.react_init_t        = C_A_IC       C_B_IC
#elif defined(IS_NERNST_OR_SPECIAL)
rincflo.nspec               = 2                         # 2 species: A=AQDS, B=H2-AQDS
rincflo.D_s                 = D_AQDS  D_AQDS          # diffusivity of each species
rincflo.react_init_t        = C_A_IC       C_B_IC               
#elif defined(IS_BV)
rincflo.nspec               = 3                         # 3 species: A=H2-AQDS, B=H2-AQDS, C=H+
rincflo.D_s                 = D_AQDS  D_AQDS  D_H    # Diffusivity of each species
rincflo.react_init_t        = C_A_IC       C_B_IC      C_H2SO4_IC        
rincflo.z_s                 = -2 -2 1                   # Charge of each species; H2-AQDS and AQDS both -2
rincflo.D_ex                = D_HSO4                    # Diffusivity of extra species (HS04-)
rincflo.z_ex                = -1                        # Charge of extra species (HS04-)
#endif

