###*********************************************************************************************************************
### REACTION
#if defined(IS_FLOW)
rincflo.reaction_model      = none
#elif defined(IS_NERNST)
rincflo.reaction_model      = Nernst
rincflo.k_0                 = K_NERNST
rincflo.DVapp               =  DELTA_V                 # Relative - 0 mV corresponds to 0.5 SOC
rincflo.n_electrons         = 2                         # H2-AQDS -> AQDS + 2e-
#elif defined(IS_SPECIAL)
rincflo.reaction_model      = SpecialRedox
rincflo.k_0                 = K_SPECIAL
rincflo.DVapp               = DELTA_V                  # Relative - 0 mV corresponds to 0.5 SOC
rincflo.n_electrons         = 2                         # H2-AQDS -> AQDS + 2e-
#elif defined(IS_BV)
rincflo.reaction_model      = ButlerVolmer
rincflo.k_0                 = K_BV
rincflo.alpha_0             = 0.5                       # default 0.5
rincflo.alpha_1             = 0.5                       # default 0.5
rincflo.n_electrons         =  2                        # A -> B + n_e e + n_p H+
rincflo.n_protons           = -2                         # H2-AQDS -> AQDS + 2e- + 2H+
rincflo.not_solve_epotS     = 1                         # default 1 (assume constant potential in conducting solid)
rincflo.value_epotS         =  DELTA_V                 # Relative - 0 mV corresponds to 0.5 SOC
rincflo.electromigration    = DO_ELECTROMIGRATION                         # default 0
rincflo.init_protons        = C_H2SO4                    # 1.0 molar H2-SO4 = 1000 millimolar H+
#endif

