###*********************************************************************************************************************
### SIMULATION OPTIONS AND RESTART
#if defined(IS_FLOW)
rincflo.do_flow             = 1
rincflo.do_reaction         = 0
rincflo.do_analysis         = 1
amr.restart                 = "RESTART_DIR_FLOW"
rincflo.upsample_from       = UPSAMPLE_FROM
rincflo.verbose             = 0
#endif
#if IS_REACTION
rincflo.do_flow                     = 0
rincflo.do_reaction                 = 1
rincflo.do_analysis                 = 1
#endif
#if defined(IS_NERNST)
amr.restart                         = "RESTART_DIR_NERNST"
rincflo.upsample_from               = UPSAMPLE_FROM
rincflo.react_reinit_all_conc       = REINIT_ALL_CONC_NERNST
rincflo.react_reinit_some_conc      = REINIT_SOME_CONC_NERNST
#if (REINIT_SOME_CONC_NERNST == 1)
rincflo.react_reinit_conc_from      = 2
#endif
#elif defined(IS_SPECIAL)
amr.restart                         = "RESTART_DIR_SPECIAL"
rincflo.upsample_from               = UPSAMPLE_FROM
rincflo.react_reinit_all_conc       = REINIT_ALL_CONC_SPECIAL
rincflo.react_reinit_some_conc      = REINIT_SOME_CONC_SPECIAL
#if (REINIT_SOME_CONC_SPECIAL == 1)
rincflo.react_reinit_conc_from      = 2
#endif
#elif defined(IS_BV)
amr.restart                         = "RESTART_DIR_BV"
rincflo.upsample_from               = UPSAMPLE_FROM
rincflo.react_reinit_all_conc       = REINIT_ALL_CONC_BV
rincflo.react_reinit_some_conc      = REINIT_SOME_CONC_BV
#if (REINIT_SOME_CONC_BV == 1)
rincflo.react_reinit_conc_from      = 2
#endif
rincflo.react_reinit_epotL          = REINIT_EPOT_L
rincflo.react_reinit_epotS          = REINIT_EPOT_S
#endif
#if IS_REACTION
rincflo.react_zero_step_counter     = REACT_ZERO_STEP_COUNTER
rincflo.verbose                     = 0
#endif

###*********************************************************************************************************************
### SIMULATION RESTART FROM NUMPY
rincflo.write_numpy                 = NUMPY_WRITE_FLAG
rincflo.numpy_verbose               = NUMPY_VERBOSE
rincflo.status_int                  = STATUS_INT

