#ifdef IS_FLOW
###*********************************************************************************************************************
### TIME-STEPPING (FLOW)
rincflo.min_step                    = FLOW_MIN_STEP
rincflo.max_step                    = FLOW_MAX_STEP
amr.plot_int                        = FLOW_INT 
amr.check_int                       = FLOW_INT
rincflo.cfl                         = FLOW_CFL                  # CFL factor
rincflo.steady_state                = STEADY_STATE                         # steady-state solver? 
#if (STEADY_STATE == 1)
rincflo.steady_state_tol            = FLOW_TOL                 # applies to each mesh level
#elif (STOP_TIME > 0)
rincflo.stop_time                   = STOP_TIME               # simulation stop time in seconds
#endif
# tolerance type; exactly one of these should be 1, rest should be 0
rincflo.tol_flow_rate_comp          = 0                         # default 0
rincflo.tol_flow_rate_mag           = 0                         # default 0
rincflo.tol_flow_relative           = 1                         # default 1
rincflo.tol_flow_relativerate       = 0                         # default 0
# simulation warmup
rincflo.initial_iterations          = FLOW_INITAL_ITERATIONS                         # default 4
rincflo.init_shrink                 = 0.00390625                # 1 / 256 of usual time step

#endif