###*********************************************************************************************************************
### FLUID FLOW OPTIONS
rincflo.advect_conc                     = 0             # concentration advection during flow part
rincflo.advection_type                  = MOL           # MOL Godunov
rincflo.redistribution_type             = FluxRedist    # NoRedist FluxRedist MergeRedist StateRedist
rincflo.do_initial_proj                 = 0             # Default 0

