#ifdef IS_REACTION
###*********************************************************************************************************************
### TIME-STEPPING (REACTION)
rincflo.min_rsteps                      = REACT_MIN_STEP
rincflo.max_rsteps                      = REACT_MAX_STEP
rincflo.react_check_int                 = REACT_INT
rincflo.react_plot_int                  = REACT_INT
rincflo.initial_iterations_reaction     = 0

# Tolerance type for reaction steady state - change in SOC; "abs_step" or "abs_rate". Default "abs_rate"
rincflo.tol_type_soc                    = "abs_rate"  
#if (STEADY_STATE == 1)
# Set the tolerance on change in SOC for reaction steady state in the outer loop
rincflo.react_tol_soc                   = REACT_TOL_SOC
#if defined(IS_BV)
# Tolerance type for reaction steady state - change in epot; "abs_step" or "abs_rate". Default "abs_rate"
rincflo.tol_type_epot                   = "abs_rate"  
rincflo.react_tol_epot                  = REACT_TOL_EPOT
#endif
#elif (STOP_TIME > 0)
# Set the fixed simulation end time in seconds
rincflo.stop_time                       = STOP_TIME
#endif
// Calculate the reaction time-stepping method
#if IS_SPECIAL
#define REACT_TIMESTEP_METHOD REACT_TIMESTEP_METHOD_SPECIAL
#elif IS_BV
#define REACT_TIMESTEP_METHOD REACT_TIMESTEP_METHOD_BV
#endif
// Set a fixed time step if applicable
#if (defined(FIXED_DT0) && defined(FIXED_DT1))
# Set the fixed time step schedule; this overrides CFL or REACT_CFL parameters
rincflo.fixed_dt_sched                  = FIXED_DT0   FIXED_DT1
#define USING_FIXED_DT
#elif defined(FIXED_DT)
#define USING_FIXED_DT
# Set the fixed time step; this overrides CFL or REACT_CFL parameters
rincflo.fixed_dt                        = FIXED_DT
#endif
// Is this a reaction? possibilities are special and ButlerVolmer, no support for linear.
#define IS_REACTION (defined(IS_NERNST) || defined(IS_SPECIAL) || defined(IS_BV))
#if IS_REACTION
#if (defined(REACT_CFL0) && defined(REACT_CFL1))
# Set the reaction CFL schedule
rincflo.cfl_react_sched                 = REACT_CFL0  REACT_CFL1
#else
# Set the time step for the reaction with the CFL parameter
rincflo.cfl_react                       = REACT_CFL              # default 0.25 (1/4)
#endif
#if defined(USING_FIXED_DT)
#define REACT_AUTO_DT 0
#else
#define REACT_AUTO_DT 1
#endif
// # Is the time step determined automatically by the CFL condition (1), or with a fixed step / schedule (0)?
// # rincflo.react_automatic_dt              = REACT_AUTO_DT                     # default 1
// Configure solver options for the Nernst model
#if defined(IS_NERNST)
# Maximum overpotential
rincflo.overpot_max                     = OVERPOT_MAX
# Relaxation parameter for Nernst model
rincflo.nernst_omega                    = NERNST_OMEGA
# Minimum time for Nernst model
rincflo.t_min                           = 0.000000
#endif
// Configure solver options for the special and ButlerVolmer models
#if (defined(IS_SPECIAL) || defined(IS_BV))
# Maximum overpotential
rincflo.overpot_max                     = OVERPOT_MAX
# Maximum consumption of reactant in any one time step
rincflo.reactant_consumption_max        = MAX_CONSUMPTION          # default 1 / 256
# Maximum consumption of reactant - upper limit during adaptive tuning
rincflo.reactant_consumption_max_limit  = MAX_CONSUMPTION_LIMIT          # default 1 / 64
# Maximum number of stagnant reaction steps before early termination
rincflo.stagnant_steps_max              = STAGNANT_STEPS_MAX

# Supported options for timestepping method
# 0: explicit 
# 1: A-D(E)R
# 2: A/2-D(E)R+A/2
# 3: predictor/corrector
rincflo.react_timestepping_method       = REACT_TIMESTEP_METHOD                     # default 1

# Supported options for nonlinear method
# 0: linear
# 1: picard
# 2: newton
rincflo.react_nonlin_method             = 1                     # default 1

# Configure fixed point iteration
rincflo.fixpoint_max_iter               = FIXPT_MAX_STEP                   # default 200
rincflo.fixpoint_conc_tol               = FIXPT_CONC_TOL                # default 1.0e-12
rincflo.fixpoint_epot_tol               = FIXPT_EPOT_TOL                # default 1.0e-12
#endif
#endif

