###*********************************************************************************************************************
### LINEAR SOLVERS
# Available solver types:
# smoother, bicg, cg, bicgcg, cgbicg, hypre; 
# see AMReX_NodalProjector.cpp and AMReX_MacProjector.cpp ins /amrex/Src/LinearSolvers/Projection for details

# Nodal projection solver
nodal_proj.bottom_solver                = "hypre"
nodal_proj.rtol                         = MG_RTOL
nodal_proj.bottom_rtol                  = MG_BOTTTOM_RTOL
nodal_proj.maxiter                      = MG_MAXITER
nodal_proj.bottom_maxiter               = MG_BOTTOM_MAXITER
nodal_proj.verbose                      = MG_VERBOSE
nodal_proj.bottom_verbose               = MG_BOTTOM_VERBOSE

# Hypre solver for nodal projection
nodal_proj.hypre.hypre_solver           = HYPRE_SOLVER
nodal_proj.hypre.num_krylov             = HYPRE_NUM_KRYLOV
nodal_proj.hypre.max_iterations         = HYPRE_MAX_ITER
nodal_proj.hypre.rtol                   = HYPRE_RTOL

# Hypre preconditioner for nodal projection
nodal_proj.hypre.hypre_preconditioner   = "BoomerAMG"
nodal_proj.hypre.bamg_max_levels        = HYPRE_MAX_LEVELS
nodal_proj.hypre.bamg_agg_num_levels    = HYPRE_AGG_NUM_LEVELS
nodal_proj.hypre.bamg_num_sweeps        = HYPRE_NUM_SWEEPS
nodal_proj.hypre.bamg_relax_type        = HYPRE_RELAX_TYPE
nodal_proj.hypre.bamg_relax_order       = HYPRE_RELAX_ORDER
nodal_proj.hypre.bamg_coarsen_type      = HYPRE_COARSEN_TYPE
nodal_proj.hypre.bamg_interp_type       = HYPRE_INTERP_TYPE

# MAC projection solver
mac_proj.bottom_solver                  = "hypre"
mac_proj.rtol                           = MG_RTOL
mac_proj.bottom_rtol                    = MG_BOTTTOM_RTOL
mac_proj.maxiter                        = MG_MAXITER
mac_proj.bottom_maxiter                 = MG_BOTTOM_MAXITER
mac_proj.verbose                        = MG_VERBOSE
mac_proj.bottom_verbose                 = MG_BOTTOM_VERBOSE

# Hypre solver for MAC projection
mac_proj.hypre.hypre_solver             = HYPRE_SOLVER
mac_proj.hypre.num_krylov               = HYPRE_NUM_KRYLOV
mac_proj.hypre.max_iterations           = HYPRE_MAX_ITER
mac_proj.hypre.rtol                     = HYPRE_RTOL

# Hypre preconditioner for nodal projection
mac_proj.hypre.hypre_preconditioner     = "BoomerAMG"
mac_proj.hypre.bamg_max_levels          = HYPRE_MAX_LEVELS
mac_proj.hypre.bamg_agg_num_levels      = HYPRE_AGG_NUM_LEVELS
mac_proj.hypre.bamg_num_sweeps          = HYPRE_NUM_SWEEPS
mac_proj.hypre.bamg_relax_type          = HYPRE_RELAX_TYPE
mac_proj.hypre.bamg_relax_order         = HYPRE_RELAX_ORDER
mac_proj.hypre.bamg_coarsen_type        = HYPRE_COARSEN_TYPE
mac_proj.hypre.bamg_interp_type         = HYPRE_INTERP_TYPE
#ifdef IS_BV

# Solver for electric potential in liquid
reaction_epot_liquid.bottom_solver_type             = "hypre"
reaction_epot_liquid.hypre.recompute_preconditioner = 0
reaction_epot_liquid.hypre.hypre_solver             = "GMRES"
reaction_epot_liquid.hypre.hypre_preconditioner     = "BoomerAMG"
reaction_epot_liquid.hypre.bamg_max_levels          = 64
reaction_epot_liquid.hypre.bamg_agg_num_levels      = 2
reaction_epot_liquid.hypre.bamg_num_sweeps          = 1
reaction_epot_liquid.hypre.bamg_relax_type          = 3
#endif
